{% extends 'base.html'%}
{%block content%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/artcle.css')}}">
{% endblock %}



<div class="container">
    
    {% for popular_movie in article %}
        <p>{{ popular_movie.author}}</p>
        <p>{{ popular_movie.title}}</p>
        <button type="button" class="btn "><a href="{{ popular_movie.url}}">Readmore</button>
        <!-- <p>{{ popular_movie.description}}</p> -->
        </a>
        <div class="jumbotron">
        <img class="img-responsive" src="{{popular_movie.urlToImage}}" alt="goat image">
        </div>
        <div class="pop">
        <p>{{ popular_movie.publishedAt}}</p>
        <p>{{ popular_movie.content}}</p>
        </div>



    {% endfor %}
</div>

{% endblock %}
