{% extends 'base.html'%}
{%block content%}


<div>
    
    {% for popular_movie in article %}
        <p>{{ popular_movie.author}}</p>
        <p>{{ popular_movie.title}}</p>
        <a href="{{ popular_movie.url}}">
        <p>{{ popular_movie.description}}</p>
        </a>
        <div class="jumbotron">
        <img class="img-responsive" src="{{popular_movie.urlToImage}}" alt="goat image">
        </div>
        <p>{{ popular_movie.publishedAt}}</p>
        <p>{{ popular_movie.content}}</p>



    {% endfor %}
</div>

{% endblock %}
