{% extends 'base.html'%}
{%block content%}
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to my news app</title>
        {% endif %}
    </head>
    <body>
    <div class="container">
        <h3 style="text-transform:uppercase;font-size:2rem;font-style: italic;color: rgb(25, 156, 156);">welcome to your favourite news channel</h3>
        {% for all in all %}
        <div class="img responsive">
            <li><img src="{{all.urlToImage}}" alt="sheep goat"></li>

        </div>


        {% endfor %}
         
    </div>
{% endblock %}