<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> News  </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">News Homepage</a></li>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Click here for your preffered news
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                
                    {% for popular_movie in popular %}
                       <li><a href="/article/{{ popular_movie.id }}">{{ popular_movie.id}}</a></li>
                    {% endfor %}
                
            </ul>
          </div>

    </div>

</div>